<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <dist:module dist:instant="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/biji"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:label">
        <activity android:name=".ui.home.KeranjangEdit" />
        <activity android:name=".ui.profile.PasswordEdit" />
        <activity android:name=".ui.profile.ProfileEdit" />
        <activity android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".RegisterActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ui.home.KeranjangBayar" />
        <activity android:name=".ui.home.KeranjangTambah" />
        <activity android:name=".ui.home.KeranjangActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".ui.ui.kategori.KategoriEdit" />
        <activity android:name=".ui.produk.ProdukEdit" />
    </application>

</manifest>